body {
    width: 100vw;
    min-height: 100vh;
    display: contents;
    font-family: Helvetica;
}

header {
    background-color: #C2FCF7;
    background: URL("../resources/IMG_2797-2 copy 2.jpg") center no-repeat;
    background-size: cover;
    padding: 50px;
    height: 75vh;
    max-width: 100vw;
    max-height: 75vh;
    display: flex;
    justify-content: space-between;
}

h1 {
    align-self: start;
    justify-self: start;
    text-align: left;
    font-family: 'Inconsolata', monospace;
    color: #C2FCF7;
    margin: 0px;
}

nav {
    position: fixed;
    right: 2.5vw;
    float: right;
    text-align: right;
    justify-self: start;
    align-self:flex-start;
    float: right;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 20px;
    word-spacing: 1rem;
    
}

.nav-menu {
    text-decoration: none;
    color: #C2FCF7;
}

main {
    max-width: 100vw;
    padding: 50px;
    text-align: center;
    color: #395B50;
    display: contents;
}

.main-content {
    color: #395B50;
    display: flex;
}

.page-heading {
    display: block;
    min-width: 100vw;
    align-items: center;
    font-family: Helvetica, sans-serif;
    /* background-color: #C2FCF7; */
    margin: 0;
    padding: 80px 0px 80px 0px;
    overflow: hidden;
    font-size: 2em;
}

.horizontal-line {
    width: 90vw;
    color:#5A7684;
}

.home-heading, h1 {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
} 

.main-blog-list {
    display: inline-block;
    text-align: center;
    padding-right: 40px;
    list-style-type: none;
    font-size: 2rem;
}

.main-blog-list, li {
    margin: 1rem;
}

.list-links {
    text-decoration: none;
    color: #395B50;
}
.list-links:hover {
    text-decoration: none;
    color: #5A7684;
}


.left-flex {
    flex-grow: 1;
    flex-shrink: 1;
}

.center-flex {
    flex-grow: 2;
    flex-shrink: 2;
    padding-bottom: 50px;
}

.right-flex {
    flex-grow: 1;
    flex-shrink: 1;
}

.article-content {
    padding: 2vw 2vw;
    margin: 5vw 20vw;
    justify-content: center;
    max-width: 100vw;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 5px;
}

.article-date {
    color: #C2FCF7;
}

.form-container {
    border-radius: 5px;
    padding: 100px;
    margin-top: -10px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
}  

footer {
    border-top: #5A7684 1px solid;
    text-align: center;
    padding: 50px;
}